<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>this weather website. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>
</html>